In [2]:
import pandas as pd
import mysql.connector

In [3]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="mysqlPass@3112",
    database="sql_project"
)

In [4]:
cursor = conn.cursor()

In [9]:
df1 = pd.read_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/customers.csv")

In [13]:
for _, row in df1.iterrows():
    cursor.execute("""
        INSERT INTO customers (customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))

In [14]:
conn.commit()

In [26]:
df2 = pd.read_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/orders.csv")

In [27]:
for _, row in df2.iterrows():
    cursor.execute("""
        INSERT INTO orders (order_id, customer_id, order_status, order_purchase_timestamp, 
                            order_approved_at, order_delivered_carrier_date, 
                            order_delivered_customer_date, order_estimated_delivery_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))

In [28]:
conn.commit()

In [19]:
df3 = pd.read_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/geolocation.csv")

In [24]:
for _, row in df3.iterrows():
    cursor.execute("""
        INSERT INTO geolocation (geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, 
                            geolocation_state)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))

In [25]:
conn.commit()

In [31]:
df4 = pd.read_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/products.csv")

In [32]:
data_tuples = list(df4.itertuples(index=False, name=None))

In [33]:
insert_query = """
INSERT INTO products (
    product_id, product_category_name, product_name_length, 
    product_description_length, product_photos_qty, 
    product_weight_g, product_length_cm, product_height_cm, product_width_cm
) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

In [34]:
cursor.executemany(insert_query, data_tuples)

In [35]:
conn.commit()

In [43]:
df5 = pd.read_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/sellers.csv")

In [44]:
data_tuples = list(df5.itertuples(index=False, name=None))

In [45]:
insert_query = """
INSERT INTO sellers (
    seller_id, seller_zip_code_prefix, seller_city, seller_state) 
VALUES (%s, %s, %s, %s)
"""

In [46]:
cursor.executemany(insert_query, data_tuples)

In [47]:
conn.commit()

In [48]:
df6 = pd.read_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/product_translation.csv")

In [49]:
data_tuples = list(df6.itertuples(index=False, name=None))

In [50]:
insert_query = """
INSERT INTO product_translation (
    product_category_name, product_category_name_english) 
VALUES (%s, %s)
"""

In [51]:
cursor.executemany(insert_query, data_tuples)

In [52]:
conn.commit()

In [11]:
cursor.close()

True

In [12]:
conn.close()